{% extends "../home/template.njk" %}
{% from 'common/macros/paging.njk' import lauPaging %}
{% from "common/macros/lauDateTimeInput.njk" import lauDateTimeInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./../common/macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}Log and Audit - Deleted Users Search{% endblock %}

{% block auditSearch %}
{% if userRoles and 'cft-audit-investigator' in userRoles %}

<h1 class="govuk-heading-xl">Deleted user search</h1>

<form id="user-deletions-search-form" class="search-form" method="post" action="/deleted-users-search">
  {{ csrfProtection(csrfToken) }}
  <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-padding-right-6">
    <h2 class="govuk-heading-l">Search</h2>

    <p class="govuk-body">
      Include time parameters in your search using the 'Time from' and 'Time to' fields and enter at least one other parameter to obtain search results.
      <br/>
      This site searches in the UTC time zone. If UK timezone is BST (UTC +1), please ensure you enter the time in UTC when searching.
    </p>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third  govuk-!-margin-top-6">
      {{ govukInput({
        label: {
          text: "User ID"
        },
        classes: "govuk-!-width-three-quarters govuk-!-margin-top-1",
        id: "first-search-field",
        name: "userId",
        value: deletedUsersForm.userId
      }) }}

      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-!-width-three-quarters",
        id: "emailAddress",
        name: "emailAddress",
        value: deletedUsersForm.emailAddress,
        type: "email",
        spellcheck: false,
        hint: {
          text: "We’ll use this to search the users"
        }
        }) }}
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
      {{ govukInput({
        label: {
          text: "First name"
        },
        classes: "govuk-!-width-three-quarters govuk-!-margin-bottom-6 govuk-!-margin-top-1",
        id: "firstName",
        name: "firstName",
        value: deletedUsersForm.firstName
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-!-width-three-quarters govuk-!-margin-top-1",
        id: "lastName",
        name: "lastName",
        value: deletedUsersForm.lastName
        }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        lauDateTimeInput(
          text="Time from (UTC)",
          id="startTimestamp",
          name="startTimestamp",
          value=deletedUsersForm.startTimestamp,
          sessionErrors=sessionErrors,
          errorMessages=errors
        )
      }}

      {{
        lauDateTimeInput(
          text="Time to (UTC)",
          id="endTimestamp",
          name="endTimestamp",
          value=deletedUsersForm.endTimestamp,
          sessionErrors=sessionErrors,
          errorMessages=errors
        )
      }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukButton({
        name: "user-deletions-search-btn",
        text: "Search",
        type: "submit",
        preventDoubleClick: true
      }) }}
    </div>
  </div>

</form>

{% if userDeletions and userDeletions.hasData %}
<div id="userDeletion-status"
  class="govuk-visually-hidden"
  role="status"
  aria-atomic="true"
  tabindex="-1">
  {{ userDeletions.totalNumberOfRecords }} results found in Deleted User.
</div>
<div class="govuk-grid-row govuk-!-margin-top-5" id="results-section">
  <div class="govuk-grid-column-full">

    {% include "common/result-header.njk" %}

    <button class="govuk-button" data-module="govuk-button" id="deletedUsersCsvBtn">
      Download all records to CSV
    </button>

    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        { text: "User ID" },
        { text: "Email Address" },
        { text: "First Name" },
        { text: "Last Name" },
        { text: "Timestamp (UTC)" }
      ],
      rows: userDeletions.rows
    }) }}
  </div>
</div>

{{ lauPaging(userDeletions, '/deleted-users/page', 'deleted-users') }}

{% elseif userDeletions %}
<h2 class="govuk-heading-l">Results</h2>
<p class="govuk-body">No results found</p>
{% endif %}

{% endif %}
{% endblock %}

