# exclude all by default

*

# exceptions from `exclude all` rule
!.yarn
!.yarn/**
!.yarnrc.yml
!package.json
!yarn.lock

!tsconfig.json
!webpack/**
!src
src/test
!src/main
!src/main/**
!config/**
!webpack.config.cjs
!.git
!createVersionFile.mjs
!version
