{% extends "../home/template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./../common/macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}Log and Audit - User Details Search{% endblock %}


{% block auditSearch %}
{% if userRoles and 'cft-audit-investigator' in userRoles %}

<h1 class="govuk-heading-xl">User details search</h1>

<form id="user-details-search-form" class="search-form govuk-!-margin-bottom-5" method="post" action="/user-details-search">
{{ csrfProtection(csrfToken) }}
  <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-padding-right-6">
    <h2 class="govuk-heading-l">Search</h2>

    <p class="govuk-body">
      The user ID is normally 32 characters long. For example 1234abcd-5678-efab-1234-abcd5678efab.
    </p>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      {% if sessionErrors and sessionErrors.length > 0 %}
        {% set errorMessage = null %}
        {% for item in sessionErrors %}
          {% set errorMessage = {text: errors[item.propertyName][item.errorType]} %}
        {% endfor %}
      {% endif %}

      {{ govukInput({
        label: {text: "User ID or email address"},
        id: "userIdOrEmail",
        name: "userIdOrEmail",
        value: userDetailsForm.userIdOrEmail,
        errorMessage: errorMessage
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukButton({
        name: "user-details-search-btn",
        text: "Search",
        type: "submit",
        preventDoubleClick: true,
        value: "search"
      }) }}
    </div>
  </div>

</form>

{% if userDetailsAuditData %}
<h2 class="govuk-heading-l">Results</h2>
<div class="govuk-grid-row" id="results-section">
  <div class="govuk-grid-column-full">

  {% if userDetailsAuditData.hasData %}

  {{ govukSummaryList({
    rows: [
        {
          key: {
            text: "User ID"
          },
          value: {
            text: userDetailsAuditData.userId
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            text: userDetailsAuditData.email
          }
        },
        {
          key: {
            text: "Professional address"
          },
          value: {
            html: userDetailsAuditData.formattedAddresses | join('<br>')
          }
        },
        {
          key: {
            text: "Account status"
          },
          value: {
            text: userDetailsAuditData.displayedStatus
          }
        },
        {
          key: {
            text: "Latest activation date"
          },
          value: {
            text: userDetailsAuditData.formattedAccCreationDate
          }
        },
        {
          key: {
            text: "Roles"
          },
          value: {
            html: userDetailsAuditData.roles | join('<br>')
          }
        }

      ]
    }) }}

    {{ govukDetails({
      summaryText: "Understanding user details",
      html: "Accounts that are locked means the user has attempted the password too many times.<br>Accounts can be suspended manually, which means they cannot be accessed.<br>Accounts are archived if the user has not logged in for 90 days or more."
    }) }}

    {% else %}
    <p class="govuk-body">User not found, check the information entered or try a different search</p>
    {% endif %}
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
