{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukSummaryList({
  rows: [
      {
        key: {
          text: "User ID"
        },
        value: {
          text: userDetailsAuditData.userId
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: userDetailsAuditData.email
        }
      },
      {
        key: {
          text: "Organisation address"
        },
        value: {
          html: userDetailsAuditData.formattedAddresses | join('<br>')
        }
      },
      {
        key: {
          text: "Account status"
        },
        value: {
          text: userDetailsAuditData.displayedStatus
        }
      },
      {
        key: {
          text: "Latest Activation Date (UTC)"
        },
        value: {
          text: userDetailsAuditData.formattedAccCreationDate
        }
      },
      {
        key: {
          text: "Roles"
        },
        value: {
          html: userDetailsAuditData.roles | join('<br>')
        }
      }
    ]
  }) }}

{{ govukDetails({
  summaryText: "Understanding user details",
  html: "<p>Accounts that are locked means the user has attempted the password too many times.<br>Accounts can be suspended manually, which means they cannot be accessed.<br>Accounts are archived if the user has not logged in for 90 days or more.</p>
  <p>The organisation address is the address of the organisation that user is registered under. All users belonging to the same organisation share the same address, It does not represent the user's day-to-day working location - only the organisation's official address.</p>
  <p>This address is only available for users from external organisations(i.e. those registered through the Manage Organisation UI).It is not available for judiciary staff, whose details are managed by the Judicial Case Manager, nor for HMCTS staff such as court admins.</p>
  <p>Organisation admin set the address, so it may not exactly match other sources such as ordinance survey data.</p>"
}) }}
