{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukSummaryList({
  rows: [
      {
        key: {
          text: "User ID"
        },
        value: {
          text: userDetailsAuditData.userId
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: userDetailsAuditData.email
        }
      },
      {
        key: {
          text: "Professional address"
        },
        value: {
          html: userDetailsAuditData.formattedAddresses | join('<br>')
        }
      },
      {
        key: {
          text: "Account status"
        },
        value: {
          text: userDetailsAuditData.displayedStatus
        }
      },
      {
        key: {
          text: "Latest Activation Date (UTC)"
        },
        value: {
          text: userDetailsAuditData.formattedAccCreationDate
        }
      },
      {
        key: {
          text: "Roles"
        },
        value: {
          html: userDetailsAuditData.roles | join('<br>')
        }
      }
    ]
  }) }}

{{ govukDetails({
  summaryText: "Understanding user details",
  html: "Accounts that are locked means the user has attempted the password too many times.<br>Accounts can be suspended manually, which means they cannot be accessed.<br>Accounts are archived if the user has not logged in for 90 days or more."
}) }}
