{% extends "../common/template.njk" %}

{% block content %}

  <h1 class="govuk-heading-l">Unauthorized</h1>

  <p class="govuk-body">You are not authorised to view this page. Please contact a system administrator.</p>

{% endblock %}
