{% from "govuk/components/table/macro.njk" import govukTable %}

{% if logons and logons.hasData %}
  <div class="flex-space-between">
    <h2 class="govuk-heading-m">Logons Audit Results</h2>
    <button id="logonsCsvBtn" class="govuk-button">Download all records to CSV</button>
  </div>

  <div>
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "User ID"
        },
        {
          text: "Email Address"
        },
        {
          text: "Service"
        },
        {
          text: "IP Address"
        },
        {
          text: "Timestamp (UTC)"
        }
      ],
      rows: logons.rows
    }) }}
  </div>

  <div class="flex-space-between">
    <div>
      <p class="govuk-body">Displaying <b>{{ logons.startRecordNumber | numComma }} to {{ (logons.startRecordNumber + (logons.noOfRows - 1)) | numComma }}</b> of {{ logons.totalNumberOfRecords | numComma }} records</p>
      {% if logons.totalNumberOfRecords == common.maxRecords %}
        <p class="govuk-body-s"><b>Note:</b> Results returned have been capped at {{ common.maxRecords | numComma }}.</p>
      {% endif %}
    </div>
    <div>
      {% if (logons.currentPage > 2) %}
        <a id="logons-previous-btn" class="govuk-link" href="/logons/page/1">&lt;&lt; First</a>
      {% endif %}
      {% if (logons.currentPage > 1) %}
        <a id="logons-previous-btn" class="govuk-link" href="/logons/page/{{ logons.currentPage | int - 1 }}">&lt; Previous</a>
      {% endif %}

      <span class="govuk-body-s">&emsp;Page {{ logons.currentPage | numComma }} / {{ logons.lastPage | numComma}}&emsp;</span>

      {% if (logons.lastPage - logons.currentPage) > 0 %}
        <a id="logons-next-btn" class="govuk-link" href="/logons/page/{{ logons.currentPage | int + 1 }}">Next &gt;</a>
      {% endif %}
      {% if (logons.lastPage - logons.currentPage) > 1 %}
        <a id="logons-next-btn" class="govuk-link" href="/logons/page/{{ logons.lastPage }}">Last &gt;&gt;</a>
      {% endif %}
    </div>
  </div>

{% elseif logons %}

  <h2 class="govuk-heading-m">System Logon Results</h2>
  <p class="govuk-body">No results found</p>

{% else %}

  <h2 class="govuk-heading-m">Use the Search tab to conduct a search</h2>

{% endif %}
