$black: #000;
$pressed-colour: #ded;

.flatpickr-calendar {
  font-family: 'GDS Transport', arial, sans-serif;
}

.start-timestamp-suffix,
.end-timestamp-suffix {
  cursor: pointer;

  &:hover {
    background-color: $pressed-colour;
  }
}

.flatpickr-open {
  background-color: $pressed-colour;
  box-shadow: inset 0 0 2px $black;
}
