$color-shade-white: #ccc;
$color-black: #000;

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  display: inline-block;
  height: 12px;
  position: relative;
  width: 30px;

  &::before {
    animation: spinner .6s linear infinite;
    border: 2px solid $color-shade-white;
    border-radius: 50%;
    border-top-color: $color-black;
    box-sizing: border-box;
    content: '';
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px;
  }
}
