{% extends "./template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Sorry, we&rsquo;re having technical problems</h1>
  <p class="govuk-body">Please try again in a few minutes.</p>
{% endblock %}
