{% extends "govuk/template.njk" %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}GOV.UK - Log and Audit{% endblock %}

{% block head %}
  {% include "common/webpack/css.njk" %}
  {% include "common/webpack/js.njk" %}
{% endblock %}

{% set cookieConfirmationHTML %}
  <p>You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set cookieAcceptHtml %}
  <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set cookieRejectHtml %}
  <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set cookieHtml %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We'd also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{% block bodyStart %}
  <div class="loading-overlay">
    <div class='spinner'></div>
  </div>
{% endblock %}

{% block header %}
  {{ govukCookieBanner({
    classes: 'cookie-banner',
    ariaLabel: 'Cookies on Log and Audit',
    hidden: true,
    messages: [
      {
        classes: 'cookie-banner-message',
        headingText: 'Cookies on Log and Audit',
        html: cookieHtml,
        actions: [
        {
          classes: 'cookie-banner-accept-button',
          text: 'Accept analytics cookies',
          type: "button",
          attributes: {
            'aria-disabled': 'false'
          }
        },
        {
          classes: 'cookie-banner-reject-button',
          text: 'Reject analytics cookies',
          type: "button",
          attributes: {
            'aria-disabled': 'false'
          }
        },
        {
          text: 'View cookies',
          href: "/cookies"
        }
      ]
      },
      {
        classes: 'cookie-banner-accept-message',
        html: cookieAcceptHtml,
        role: "alert",
        hidden: true,
        actions: [
        {
          classes: 'cookie-banner-hide-button',
          text: 'Hide this message'
        }
      ]
      },
      {
        classes: 'cookie-banner-reject-message',
        html: cookieRejectHtml,
        role: "alert",
        hidden: true,
        actions: [
        {
          classes: 'cookie-banner-hide-button',
          text: 'Hide this message'
        }
      ]
      }
    ]
  }) }}

  {% if env === 'development' and not idamEnabled %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Log and Audit",
    serviceUrl: "/",
    navigation: [
      {
        href: "/unset-role/cft-audit-investigator" if userRoles and 'cft-audit-investigator' in userRoles else "/set-role/cft-audit-investigator",
        text: "Unset CFT_AUDIT_INVESTIGATOR" if userRoles and 'cft-audit-investigator' in userRoles else "Set CFT_AUDIT_INVESTIGATOR",
        active: userRoles and 'cft-audit-investigator' in userRoles
      },
      {
        href: "/unset-role/cft-service-logs" if userRoles and 'cft-service-logs' in userRoles else "/set-role/cft-service-logs",
        text: "Unset CFT_SERVICE_LOGS" if userRoles and 'cft-service-logs' in userRoles else "Set CFT_SERVICE_LOGS",
        active: userRoles and 'cft-service-logs' in userRoles
      }
    ]
  }) }}

  {% else %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Log and Audit",
    serviceUrl: "/",
    navigation: [
      {
        href: "/logout" if isLoggedIn else "/login",
        text: "Logout" if isLoggedIn else "Login"
      }
    ]
  }) }}

  {% endif %}

{% endblock %}

{% block beforeContent %}
  {% block modal %}
    {% include "./timeout-dialog.njk" %}
  {% endblock %}

{% include "./navigation.njk" %}

{% endblock %}


{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/privacy",
          text: "Privacy policy"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility",
          text: "Accessibility statement"
        },
        {
          href: "/terms-and-conditions",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/cymraeg",
          text: "Rhestr o Wasanaethau Cymraeg"
        },
        {
          href: "https://www.gov.uk/government/organisations/government-digital-service",
          text: "Government Digital Service"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
    <span>{{ env }}</span>
    <span>{{ settings.env }}</span>
    <span>{{ process.env.NODE_ENV }}</span>
    <span>{{ process.env.REFORM_ENVIRONMENT }}</span>
    <script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf24054dsx/b4ffd3e9c06c2864_complete.js" crossorigin="anonymous"></script>
  
{% endblock %}
