{% from "govuk/components/table/macro.njk" import govukTable %}

{% if caseSearches and caseSearches.hasData %}
  <div class="flex-space-between">
    <h1 class="govuk-heading-l">Case Searches Results</h1>
    <button id="searchesCsvBtn" class="govuk-button">Download all records to CSV</button>
  </div>

  <div>
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "User ID"
        },
        {
          text: "Case Refs"
        },
        {
          text: "Timestamp (UTC)"
        }
      ],
      rows: caseSearches.rows
    }) }}
  </div>

  <div class="flex-space-between">
    <div>
      <p class="govuk-body">Displaying <b>{{ caseSearches.startRecordNumber | numComma }} to {{ (caseSearches.startRecordNumber + (caseSearches.noOfRows - 1)) | numComma }}</b> of {{ caseSearches.totalNumberOfRecords | numComma }} records</p>
      {% if caseSearches.totalNumberOfRecords == common.maxRecords %}
        <p class="govuk-body-s"><b>Note:</b> Results returned have been capped at {{ common.maxRecords | numComma }}.</p>
      {% endif %}
    </div>
    <div>
      {% if (caseSearches.currentPage > 2) %}
        <a id="case-searches-first-btn" class="govuk-link" href="/case-searches/page/1">&lt;&lt; First</a>
      {% endif %}
      {% if (caseSearches.currentPage > 1) %}
        <a id="case-searches-previous-btn" class="govuk-link" href="/case-searches/page/{{ caseSearches.currentPage | int - 1 }}">&lt; Previous</a>
      {% endif %}

      <span class="govuk-body-s">&emsp;Page {{ caseSearches.currentPage | numComma }} / {{ caseSearches.lastPage | numComma}}&emsp;</span>

      {% if (caseSearches.lastPage - caseSearches.currentPage) > 0 %}
        <a id="case-searches-next-btn" class="govuk-link" href="/case-searches/page/{{ caseSearches.currentPage | int + 1 }}">Next &gt;</a>
      {% endif %}
      {% if (caseSearches.lastPage - caseSearches.currentPage) > 1 %}
        <a id="case-searches-last-btn" class="govuk-link" href="/case-searches/page/{{ caseSearches.lastPage }}">Last &gt;&gt;</a>
      {% endif %}
    </div>
  </div>

{% elseif caseSearches %}

  <h1 class="govuk-heading-l">Case Searches Results</h1>
  <p class="govuk-body">No results found</p>

{% else %}

  <h2 class="govuk-heading-m">Use the Search tab to conduct a search</h2>
  <p class="govuk-body">User ID or Case Ref must be included in search criteria.</p>

{% endif %}
