{% from "govuk/components/table/macro.njk" import govukTable %}

{% if caseActivities and caseActivities.hasData %}
  <div class="flex-space-between">
    <h1 class="govuk-heading-l">Case Activity Results</h1>
    <button id="activityCsvBtn" class="govuk-button">Download all records to CSV</button>
  </div>

  <div>
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "User ID"
        },
        {
          text: "Activity"
        },
        {
          text: "Case Ref"
        },
        {
          text: "Jurisdiction ID"
        },
        {
          text: "Case Type ID"
        },
        {
          text: "Timestamp (UTC)"
        }
      ],
      rows: caseActivities.rows
    }) }}
  </div>

  <div class="flex-space-between">
    <div>
      <p class="govuk-body">Displaying <b>{{ caseActivities.startRecordNumber | numComma }} to {{ (caseActivities.startRecordNumber + (caseActivities.noOfRows - 1)) | numComma }}</b> of {{ caseActivities.totalNumberOfRecords | numComma }} records</p>
      {% if caseActivities.totalNumberOfRecords == common.maxRecords %}
        <p class="govuk-body-s"><b>Note:</b> Results returned have been capped at {{ common.maxRecords | numComma }}.</p>
      {% endif %}
    </div>
    <div>
      {% if (caseActivities.currentPage > 2) %}
        <a id="case-activity-first-btn" class="govuk-link" href="/case-activity/page/1">&lt;&lt; First</a>
      {% endif %}
      {% if (caseActivities.currentPage > 1) %}
        <a id="case-activity-previous-btn" class="govuk-link" href="/case-activity/page/{{ caseActivities.currentPage | int - 1 }}">&lt; Previous</a>
      {% endif %}

      <span class="govuk-body-s">&emsp;Page {{ caseActivities.currentPage | numComma }} / {{ caseActivities.lastPage | numComma }}&emsp;</span>

      {% if (caseActivities.lastPage - caseActivities.currentPage) > 0 %}
        <a id="case-activity-next-btn" class="govuk-link" href="/case-activity/page/{{ caseActivities.currentPage | int + 1 }}">Next &gt;</a>
      {% endif %}
      {% if (caseActivities.lastPage - caseActivities.currentPage) > 1 %}
        <a id="case-activity-last-btn" class="govuk-link" href="/case-activity/page/{{ caseActivities.lastPage }}">Last &gt;&gt;</a>
      {% endif %}
    </div>
  </div>

{% elseif caseActivities %}

  <h1 class="govuk-heading-l">Case Activity Results</h1>
  <p class="govuk-body">No results found</p>

{% else %}

  <h2 class="govuk-heading-m">Use the Search tab to conduct a search</h2>

{% endif %}
