<link href="/main-dev.css" rel="stylesheet">

{% if flatpickrPreload %}
  {# Asynchronously load the CSS #}
  <link rel="preload" href="assets/css/flatpickr.min.css" as="style">
{% else %}
  <link href="assets/css/flatpickr.min.css" rel="stylesheet">
{% endif %}
