<link href="/main-dev.css" rel="stylesheet">

{% if flatpickrPreload %}
  {# Preload flatpickr to ensure it's ready on rendering #}
  <link rel="preload" href="assets/css/flatpickr.min.css" as="style">
{% endif %}
