{% extends "../common/template.njk" %}

{% block content %}

  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

  {% if env === 'development' and not idamEnabled and userRoles.length === 0 %}
  <h1 class="govuk-heading-l">User roles have not been set!</h1>
  {% else %}
    {% block auditSearch %}{% endblock %}
  {% endif %}

{% endblock %}
