{% extends "../common/template.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% block content %}

  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

  {% set caseSearchTabHtml %}
    {% include '../search/case-template.njk' %}
  {% endset %}

  {% set caseActivityTabHtml %}
    {%  include '../case-activity/template.njk' %}
  {% endset %}

  {% set caseSearchesTabHtml %}
    {% include '../case-searches/template.njk' %}
  {% endset %}

  {% set logonSearchTabHtml %}
    {% include '../search/logon-template.njk' %}
  {% endset %}

  {% set logonsTabHtml %}
    {%  include '../logons/template.njk' %}
  {% endset %}

  {% set caseDeletionsSearchTabHtml %}
    {% include '../search/case-deletions-template.njk' %}
  {% endset %}

  {% set caseDeletionsTabHtml %}
    {%  include '../case-deletions/template.njk' %}
  {% endset %}

  {# ------------ Audit Investgator Tabs ------------ #}
  {% if userRoles and 'cft-audit-investigator' in userRoles %}

    {% set caseAuditSearchTab = {
      label: "Case Audit Search",
      id: "case-search-tab",
      panel: {
        html: caseSearchTabHtml
      }
    } %}

    {% set caseActivityTab = {
      label: "Case Activity Results",
      id: "case-activity-tab",
      panel: {
        html: caseActivityTabHtml
      }
    } %}

    {%  set caseSearchesTab = {
      label: "Case Search Results",
      id: "case-searches-tab",
      panel: {
        html: caseSearchesTabHtml
      }
    } %}


    {% set logonsAuditSearchTab = {
      label: "Logons Audit Search",
      id: "logon-search-tab",
      panel: {
        html: logonSearchTabHtml
      }
    } %}

    {%  set logonsResultsTab = {
      label: "Logons Results",
      id: "logons-tab",
      panel: {
        html: logonsTabHtml
      }
    } %}

  {% endif %}

  {# ------------ Service Logs Tabs ------------ #}
  {% if userRoles and 'cft-service-logs' in userRoles %}

    {% set caseDeletionsSearchTab = {
      label: "Case Deletions Search",
      id: "case-deletions-search-tab",
      panel: {
        html: caseDeletionsSearchTabHtml
      }
    } %}

    {% set caseDeletionsResultsTab = {
      label: "Case Deletions Results",
      id: "case-deletions-tab",
      panel: {
        html: caseDeletionsTabHtml
      }
    } %}

  {% endif %}
  {# ------------------------------------------- #}

  {% if userRoles.length > 0 %}
    {{ govukTabs({
      classes: 'home-tabs',
      items: [
        caseAuditSearchTab,
        caseActivityTab,
        caseSearchesTab,

        logonsAuditSearchTab,
        logonsResultsTab,

        caseDeletionsSearchTab,
        caseDeletionsResultsTab
      ]
    }) }}
  {% endif %}

  {% if env === 'development' and not idamEnabled and userRoles.length === 0 %}

    <h1 class="govuk-heading-l">User roles have not been set!</h1>

  {% endif %}

{% endblock %}
