{% if isDev %}
  <script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf24054dsx/b4ffd3e9c06c2864_complete.js" crossorigin="anonymous"></script>
{% else %}
   <script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf00910jpo/2aee5df4a51ffc23_complete.js" crossorigin="anonymous"></script>
{% endif %}