{% extends "../../common/template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading1 }}</h1>
      <p class="govuk-body">{{ paragraph1 | safe }}</p>

      <h2 class="govuk-heading-m">{{ whoWeAreHeading }}</h2>
      <p class="govuk-body">{{ whoWeAreParagraph1 }}</p>
      <p class="govuk-body">{{ whoWeAreParagraph2 }}</p>

      <h2 class="govuk-heading-m">{{ informationProvidedHeading }}</h2>
      <p class="govuk-body">{{ informationProvidedParagraph1 }}</p>
      <p class="govuk-body">{{ informationProvidedParagraph2 }}</p>

      <h2 class="govuk-heading-m">{{ dataSharingStoringHeading }}</h2>
      <p class="govuk-body">{{ dataSharingStoringParagraph1 | safe }}</p>
      <p class="govuk-body">{{ dataSharingStoringParagraph2 | safe }}</p>

      <h2 class="govuk-heading-m">{{ lawsApplicableHeading }}</h2>
      <p class="govuk-body">{{ lawsApplicableParagraph1 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ lawsApplicableItem1 }}</li>
        <li>{{ lawsApplicableItem2 }}</li>
        <li>{{ lawsApplicableItem3 }}</li>
        <li>{{ lawsApplicableItem4 }}</li>
        <li>{{ lawsApplicableItem5 }}</li>
      </ul>

      <h2 class="govuk-heading-m">{{ responsibleUseHeading }}</h2>
      <p class="govuk-body">{{ responsibleUseParagraph1 }}</p>
      <p class="govuk-body">{{ responsibleUseParagraph2 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ responsibleUseItem1 }}</li>
        <li>{{ responsibleUseItem2 }}</li>
        <li>{{ responsibleUseItem3 }}</li>
      </ul>
      <p class="govuk-body">{{ responsibleUseParagraph3 }}</p>

      <h2 class="govuk-heading-m">{{ disclaimerHeading }}</h2>
      <p class="govuk-body">{{ disclaimerParagraph1 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ disclaimerItem1 }}</li>
        <li>{{ disclaimerItem2 }}</li>
        <li>{{ disclaimerItem3 }}</li>
        <li>{{ disclaimerItem4 }}</li>
        <li>{{ disclaimerItem5 }}</li>
      </ul>
      <p class="govuk-body">{{ disclaimerParagraph2 }}</p>
      <p class="govuk-body">{{ disclaimerParagraph3 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ disclaimerItem6 }}</li>
        <li>{{ disclaimerItem7 }}</li>
        <li>{{ disclaimerItem8 }}</li>
        <li>{{ disclaimerItem9 }}</li>
      </ul>
      <p class="govuk-body">{{ disclaimerParagraph4 }}</p>
      <p class="govuk-body">{{ disclaimerParagraph5 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ disclaimerItem10 }}</li>
        <li>{{ disclaimerItem11 }}</li>
        <li>{{ disclaimerItem12 }}</li>
        <li>{{ disclaimerItem13 }}</li>
        <li>{{ disclaimerItem14 }}</li>
        <li>{{ disclaimerItem15 }}</li>
        <li>{{ disclaimerItem16 }}</li>
        <li>{{ disclaimerItem17 }}</li>
        <li>{{ disclaimerItem18 }}</li>
        <li>{{ disclaimerItem19 }}</li>
      </ul>
      <p class="govuk-body">{{ disclaimerParagraph6 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ disclaimerItem20 }}</li>
        <li>{{ disclaimerItem21 }}</li>
        <li>{{ disclaimerItem22 }}</li>
      </ul>
    </div>
  </div>
{% endblock %}
