{% extends "../home/template.njk" %}
{% from 'common/macros/paging.njk' import lauPaging %}
{% from "common/macros/lauDateTimeInput.njk" import lauDateTimeInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./../common/macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}Log and Audit - Deleted Cases Search{% endblock %}

{% block auditSearch %}
{% if userRoles and 'cft-service-logs' in userRoles %}

<h1 class="govuk-heading-xl">Deleted case search</h1>

<form id="case-deletions-search-form" class="search-form" method="post" action="/case-deletions-search" novalidate>
  {{ csrfProtection(csrfToken) }}
  <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-padding-right-6">
    <h2 class="govuk-heading-l">Search</h2>

    <p class="govuk-body">Include time parameters in your search using the 'Time from' and
      'Time to' fields and enter at least one other parameter to obtain search results.
    </p>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ govukInput({
        label: {
          text: "Case Ref"
        },
        classes: "govuk-!-width-three-quarters",
        id: "caseRef",
        name: "caseRef",
        value: caseDeletionsForm.caseRef
      }) }}

      {{ govukInput({
        label: {
          text: "Case Type ID"
        },
        classes: "govuk-!-width-three-quarters",
        id: "caseTypeId",
        name: "caseTypeId",
        value: caseDeletionsForm.caseTypeId
      }) }}

      {{ govukInput({
        label: {
          text: "Jurisdiction ID"
        },
        classes: "govuk-!-width-three-quarters",
        id: "jurisdictionId",
        name: "jurisdictionId",
        value: caseDeletionsForm.jurisdictionId
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      {{
        lauDateTimeInput(
          text="Time from (UTC)",
          id="startTimestamp",
          name="startTimestamp",
          value=caseDeletionsForm.startTimestamp,
          sessionErrors=sessionErrors,
          errorMessages=errors
        )
      }}

      {{
        lauDateTimeInput(
          text="Time to (UTC)",
          id="endTimestamp",
          name="endTimestamp",
          value=caseDeletionsForm.endTimestamp,
          sessionErrors=sessionErrors,
          errorMessages=errors
        )
      }}
    </div>

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukButton({
        name: "case-deletions-search-btn",
        text: "Search",
        type: "submit",
        preventDoubleClick: true,
        value: "search"
      }) }}
    </div>
  </div>
</form>

{% if caseDeletions and caseDeletions.hasData %}
<div class="govuk-grid-row govuk-!-margin-top-5" id="results-section">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">
      Results
    </h2>

    <p class="govuk-body">Search results are limited to 10,000.</p>

    <button class="govuk-button" data-module="govuk-button" id="deletionsCsvBtn">
      Download all records to CSV
    </button>

    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        { text: "Case Ref" },
        { text: "Jurisdiction ID" },
        { text: "Case Type ID" },
        { text: "Timestamp (UTC)" }
      ],
      rows: caseDeletions.rows
    }) }}
  </div>
</div>

{{ lauPaging(caseDeletions, '/case-deletions/page', 'case-deletions') }}

{% elseif caseDeletions %}
  <h2 class="govuk-heading-l">Results</h2>
  <p class="govuk-body">No results found</p>
{% endif %}
{% endif %}
{% endblock auditSearch %}

